
/* This stylesheet is shamelessly ripped of the Google Wave screenshots. Thanks, GIMP! */

.wavelet_widget
{
	border: 1px solid black;
	width: 100%;
	height: 100%;
}

.wavelet_participants_div
{
	height: 56px;
	width: 100%;
	background-color: rgb(201, 226, 252);
	border-bottom: 1px solid #b8c6d9;
}

.wavelet_participant
{
	float: left;
	width: 47px;
	height: 44px;
	margin-top: 7px;
	padding: 0;
}

.wavelet_participant:first-child
{
	margin-left: 5px;
}

.wavelet_participant .thumbnail
{
	height: 40px;
	width: 40px;
	border: 1px solid #b8c6d9;
	background-color: #ffffff;
}

.wavelet_participant .indicator
{
	position: relative;
	top: -9px;
	left: 34px;
	width: 11px;
	height: 11px;
	background-image: url(../images/user-online.png);
}

.wavelet_participant .indicator.online
{
	display: block;
}

.wavelet_participant .indicator.offline
{
	display: none;
}

.wavelet_participant.small
{
	margin-top: 0;
	width: 32px;
	height: 30px;
}

.wavelet_participant.small:first-child
{
	margin-left: 0;
}

.wavelet_participant.small .thumbnail
{
	height: 27px;
	width: 27px;
}

.wavelet_participant.small .indicator
{
	top: -6px;
	left: 23px;
	width: 8px;
	height: 8px;
	background-image: url(../images/user-online-small.png);
}

.wavelet_participant.searchbox
{
	float: none;
	width: 100%;
	height: 35px;
	margin: 0;
	cursor: pointer;
}

.wavelet_participant.searchbox .thumbnail
{
	float: left;
	margin: 3px 5px;
	height: 27px;
	width: 27px;
}

.wavelet_participant.searchbox .indicator
{
	top: 26px;
	left: 28px;
	width: 8px;
	height: 8px;
	background-image: url(../images/user-online-small.png);
}

.wavelet_participant.searchbox .nicktext
{
	float: left;
	font-size: 1.2em;
	margin-top: 7px;
}

.wavelet_participant.searchbox.selected
{
	background-color: #e0e8a4;
}

.wavelet_add_participant_widget
{
	background-image: url(../images/list-add.png);
	width: 22px;
	height: 22px;
	cursor: pointer;
	float: left;
	margin-top: 17px;
	margin-left: 8px;
}

.wavelet_add_participant_searchbar
{
	background-color: rgb(201, 226, 252);
	height: 24px;
	padding: 4px 8px 4px 4px;
	border-bottom: 1px solid #b8c6d9;
}

.wavelet_add_participant_results
{
	height: 100%;
	overflow: auto;
}

.wavelet_add_participant_results .results_invalid
{
	margin-left: 5px;
	margin-top: 5px;
	font-size: 1.2em;
}

.blip_container_widget
{
	width: 100%;
	height: auto;
	padding: 0;
}

.blip_container_widget hr
{
	height: 1px;
	background-image: url(../images/dot-hr.gif);
	background-repeat: repeat-x;
	border: none;
	background-color: transparent;
	margin-left: 1px;
	margin-right: 1px;
}

.blip_editor_widget
{
	width: 100%;
	height: 300px;
	cursor: text;
	border-bottom: 2px solid #ddd;
	overflow: auto;
	font-size: 1.3em;
}

.blip_editor_widget p
{
	line-height: normal !important;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-top: 5px;
	padding: 0;
}

.blip_line_placeholder
{
	background-color: yellow;
	overflow: hidden;
}

.search_widget
{
	height: 24px;
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.search_widget .input_wrapper
{
	display: table-cell;
	vertical-align: top;
}
.search_widget input
{
	border: none;
	background-repeat: repeat-x;
	height: 20px;
	padding-top: 4px;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
	width: 100%;
	vertical-align: top;
	outline: none;
	margin: 0;
}
.search_widget input.active 
{
	background-image: url(../images/searchbox_active_c.gif);
}
.search_widget input.inactive
{
	background-image: url(../images/searchbox_inactive_c.gif);
}

.search_widget .left_corner
{
	display: table-cell;
	width: 12px;
	height: 24px;
}
.search_widget .left_corner.active
{
	background-image: url(../images/searchbox_active_l.gif);
}
.search_widget .left_corner.inactive
{
	background-image: url(../images/searchbox_inactive_l.gif);
}

.search_widget .right_corner
{
	display: table-cell;
	width: 21px;
	height: 24px;
}
.search_widget .right_corner.active
{
	background-image: url(../images/searchbox_active_r.gif);
}
.search_widget .right_corner.inactive
{
	background-image: url(../images/searchbox_inactive_r.gif);
}

.debug_window
{
	display: table;
	width: 100%;
	height: 100%;
}

.debug_window_row
{
	display: table-row;
}

.debug_window_bar
{
	display: table-cell;
	background-color: rgb(201, 226, 252);
	border-bottom: 1px solid #b8c6d9;
	width: 100%;
	height: 20px;
	padding: 4px;
}

.debug_window_table_container
{
	display: table-cell;
	width: 100%;
	height: auto;
}

.debug_window_table
{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-style: hidden;
	border-width: 1px;
}

.debug_window_table td
{
	border: 1px solid gray;
	height: 15px;
}

.debug_window_table .col1
{
	width: 35%;
	height: 100%;
}

.debug_window_table .col2
{
	width: 20%;
	height: 100%;
}

.debug_window_table .col3
{
	width: 5%;
	height: 100%;
}

.debug_window_table .col4
{
	width: 40%;
	height: 100%;
}
