{% extends "base.html" %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% load pgw_nav %}

{% block title %}{% trans "All Gadgets" %}{% endblock %}
{% block nav %}{% pgw_navbar "gadgets" "all_gadgets" %}{% endblock %}

{% block content %}
<div class="section">
	{% if gadgets %}
		{% trans "Hover over a Gadget's title to see its description." %}
		<table>
			<tr><th>{% trans "Title" %}</th><th>{% trans "Uploaded by" %}</th><th>{% trans "Download" %}</th></tr>
		{% for gadget in gadgets %}
			<tr>
				<td class="gadget_title" title="{{ gadget.description|escape }}">{{ gadget.title|escape }}</td>
				<td>{{ gadget.by_user }}</td>
				<td>
					<a href="{{ gadget.url }}"><img src="{{ MEDIA_URL }}images/download.png" width="16" height="16" title="{% trans "Download" %}" alt="{% trans "Download" %}" /></a>
				</td>
			</tr>
		{% endfor %}
		</table>
		<script type="text/javascript">
			new Tips($$(".gadget_title"), {className: 'tooltip'});
		</script>
	{% else %}
	{% trans "No one has submitted any Gadget. Sigh." %}
	{% endif %}
</div>
{% endblock %}