{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{% block title %}{{ gadget.title }}{% endblock %}</title>
	<style type="text/css">html,body{height:100%;width:100%;margin:0;padding:0;}</style>
	<script type="text/javascript" src="{{ wrapper_script_url }}"></script>{% if gadget.features.wave_preview %}
	<script type="text/javascript" src="http://wave-api.appspot.com/public/wave.js"></script>{% endif %}
	<script type="text/javascript">
		__MODULE_ID__ = {% if gadget_id %}{{ gadget_id }}{% else %}null{% endif %};
		gadgets._urlParameters = {% if url_parameters %}{{ url_parameters|safe }}{% else %}{}{% endif %};
		gadgets._prefs = {% if gadget %}{{ gadget.prefs_json|safe }}{% else %}null{% endif %};
		gadgets._lang = "{{ LANGUAGE_CODE|slice:":2"|upper }}";
	</script>
{% block additional_header %}{% endblock %}
</head>

<body>
{% block content %}
{{ gadget.content|safe }}
{% endblock %}
</body>

</html>
