{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{% block title %}{{ gadget.title }}{% endblock %}</title>
	<link rel="icon" href="{{ MEDIA_URL }}images/favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/gadget-wrapper.js"></script>
	<script type="text/javascript">
		//document.domain = document.domain; // Looks weird but fixes some errors
		jQuery.noConflict();
		gadgets._gadgetID = {% if gadget_id %}{{ gadget_id }}{% else %}null{% endif %};
		gadgets._urlParameters = {% if url_parameters %}{{ url_parameters|safe }}{% else %}{}{% endif %};
	</script>
{% block additional_header %}{% endblock %}
</head>

<body>
{% block content %}
{{ gadget.content|safe }}
{% endblock %}
</body>

</html>