{% extends "base_transitional.html" %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% load pgw_nav %}

{% block title %}{% trans "On the Wave" %}{% endblock %}
{% block nav %}{% pgw_navbar "waves" "on_the_wave" %}{% endblock %}
{% block additional_header %}
	<script type="text/javascript">
		// Cut to minimum to allow cross-subdomain access
		try {
			document.domain = document.domain.split('.').slice(1).join('.');
		}
		catch (e){
			document.domain = document.domain;
		}
	</script>
	<script type="text/javascript" src="http://{{ ORBITED_SERVER }}:{{ ORBITED_PORT }}/static/Orbited.js"></script>
	<script type="text/javascript">
		Orbited.settings.port = {{ ORBITED_PORT }};
		Orbited.settings.hostname = "{{ ORBITED_SERVER }}";
		Orbited.settings.log = true;
		Orbited.getLogger().enabled = true;
		TCPSocket = Orbited.TCPSocket;
		
		// Random generated access keys
		WaveAccessKeyTx = "{{ wave_access_key.tx }}";
		WaveAccessKeyRx = "{{ wave_access_key.rx }}";
		
	</script>
	<script type="text/javascript" src="http://{{ ORBITED_SERVER }}:{{ ORBITED_PORT }}/static/protocols/stomp/stomp.js"></script>
	<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/pygowave-client-model.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/pygowave-client-view.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/pygowave-client-controller.js"></script>
{% endblock %}

{% block content %}
<h1>{{ wavelet_title }}</h1>
<h4>{% trans "Hints" %}</h4>
<div class="section">
	<div id="leave_button" class="ui-state-default ui-corner-all">
		{% if LANGUAGE_BIDI %}<label>{% trans "Leave Wave" %}</label>{% endif %}
		<img src="{{ MEDIA_URL }}images/leave.png" height="22" width="22" />
		{% if not LANGUAGE_BIDI %}<label>{% trans "Leave Wave" %}</label>{% endif %}
	</div>
{% blocktrans %}
Some quick documentation: Click on the "+" to add a friend to your wave. The
search currently covers the whole database of users.<br/>
Any user can be added by everyone who participates in the wave. No one can
remove any other participant than him/herself. You can remove yourself from a
wave by clicking the "Leave Wave" button on the right hand side.<br/>
Again, this application is experimental and may not work as expected.
{% endblocktrans %}
</div>
<h4>{% trans "Playground" %}</h4>
<div class="section">
	<div id="wave_container">
		
	</div>
	<script type="text/javascript">
		(function () {
			model = new pygowave.model.WaveModel("{{ wave_id|escapejs }}", "{{ participant_id|escapejs }}");
			view = new pygowave.view.WaveView(
				model,
				$('wave_container'),
				{
					participantSearchUrl: "{% url pygowave_server.views.search_participants %}?q=",
					gadgetLoaderUrl: "{% url pygowave_server.views.gadget_loader %}?wave=1&",
					defaultThumbnailUrl: "{{ AVATAR_URL }}default.png"
				}
			);
			awavelet = model.createWavelet("demo", {
				is_root: true
			});
			me = new pygowave.model.Participant("nobody@localhost", {displayName: "nobody"});
			awavelet.addParticipant(me);
			me.setOnline(true);
		})();
	</script>
</div>
{% endblock %}
