{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block container_class %}container_narrow{% endblock %}
{% block content %}
<img src="{{ MEDIA_URL }}images/wavelogo.png" style="float: left" />
<h1>Welcome to PyGoWave Server!</h1>
<p>You are looking at the start page of a very ambitious project. This is still
early alpha, use at your own risk.</p>
<p>I know, the style is a quick-and-dirty-rip-off from Google, but it serves
the purpose right now. Google, Google Wave, and the images used here are
copyrighted by Google Inc.</p>
{% endblock %}