{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{% block title %}Untitled{% endblock %} - PyGoWave Server</title>
	<link rel="icon" href="{{ MEDIA_URL }}images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" />
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.min.js"></script>
	
	<!-- Begin Google Analytics Code-->
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
		var pageTracker = _gat._getTracker("UA-9157095-2");
		pageTracker._trackPageview();
	} catch(err) {}
	</script>
	<!-- End Google Analytics Code-->
</head>

<body>
	<div id="container" class="{% block container_class %}container_wide{% endblock %}">
		<img class="gwlogo" src="{{ MEDIA_URL }}images/wavelogo_banner.png" width="164" height="40" />
		<div id="lang_div">({{ LANGUAGE_CODE }})</div>
		<div id="content_div">
		{% block content %}{% endblock %}
		</div>
	</div>
</body>

</html>